<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/expenses/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form  
    action="/expenses/<%= expense._id %>?_method=PUT" 
    method="POST"
  >
  <form action="/expenses" method="POST">
    <label for="expense-input">Expense:</label>
    <input type="text" name="category" id="expense-input" value="<%= expense.category %>">
    <label for="amount-input">Cost:</label>
    <input type="text" name="amount" id="amount-input" value="<%= expense.amount %>">
    <button type="submit">Save Expense</button>
  </form>
</main>

<%- include("../partials/footer") %>