<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/expenses/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <%= expense.title %>
    <div>
    <a href="/expenses/<%= expense._id %>/edit">
      <button class="edit">Edit Expense</button>
    </a>
  </div>
    <div class="expense-item">
      <div>Expense:</div>
      <div class="label"><%= expense.category %></div>
    </div>
    <div class="expense-item">
      <div>Cost:</div>
      <div class="label"><%= expense.amount %></div>
    </div>
  <form 
    id="form"
    action="/expenses/<%= expense._id %>/comments"
    method="POST"
  >
    <label for="comment-input"></label>
    <input name="comment" id="comment-input" placeholder="Leave a comment"></input>
    <button type="submit">Add Comment</button>
  </form>
</section>
  <% if (expense.comments.length > 0) { %>
    <table id="comments-table">
      <thead>
          <h2 class="comments">Comments</h2>
      </thead>
      <tbody>
        <% expense.comments.forEach(function(comment) { %>
          <tr>
            <td><%= comment.comment %></td>
            <td>
            <form action="/expenses/<%= expense._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <button class="deleteBtn">X</button>
            </form>
          </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Comments Yet</h3>
  <% } %>
</main>
  
<%- include('../partials/footer') %>