<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>

  <div>
    <h1>Welcome to E-VELO Finance. <br><%= user ? user.profile.name : "" %></h1>
  </div>

  <% if (user?.profile.avatar) { %>
    <div>
      <img id="profile-photo"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } else { %>
      <div class="welcome-image">
        <img id="welcome-image" src="/images/logo.png">
      </div>
    <% } %>
  </div>
</main>

<%- include('./partials/footer') %>
