<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "" %> <br>Welcome to EVELO Finance.</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img id="profile-photo"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
