<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>

  <div>
    <h1>Welcome to E-VELO Finance. <br><%= user ? user.profile.name : "" %></h1>
  </div>

  <% if (user?.profile.avatar) { %>
    <div>
      <img id="profile-photo"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <% if (user) { %>
    <h2>Hit enter to continue to your finances.</h2>
    <button id="enter">Enter</button>
  <% } %>
  </div>
</main>

<%- include('./partials/footer') %>
